/* Overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out, visibility 0s 0.5s;
}

.modal-overlay.visible {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease-in-out, visibility 0s;
}

/* add/edit student form */
.student-form-container {
  position: fixed;
  top: 50%;
  right: -500px;
  transform: translateY(-50%);
  width: 400px;
  height: 90vh;
  max-height: 735px;
  background-color: white;
  border-radius: 8px;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
  transition: right 0.5s ease-in-out, transform 0.5s ease-in-out;
  z-index: 101;
  padding: 30px;
  overflow-y: auto;
  overflow-x: auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.student-form-container.open {
  right: 50%;
  transform: translate(50%, -50%);
}

.form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--primary-color);
}

.form-header h3 {
  font-size: 1.5rem;
  margin: 0;
}

.close-button {
  background-color: var(--primary-color);
  color: #fff;
  height: 40px;
  width: 40px;
  align-items: center;
  justify-items: center;
  border: none;
  border-radius: 5px;
  font-size: 28px;
  cursor: pointer;
  padding-bottom: 15px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.form-group input[type="text"],
.form-group input[type="date"],
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.form-group input[type="text"]:focus,
.form-group input[type="date"]:focus,
.form-group select:focus {
  border-color: #20B2AA;
  outline: none;
  box-shadow: 0 0 5px rgba(32, 178, 170, 0.3);
}

.form-group select:invalid {
  color: grey;
}

.form-group select:valid {
  color: var(--text-color);
}

.form-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin-top: 30px;
}

.submit-btn, .cancel-btn {
  padding: 10px 20px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.submit-btn {
  background-color: var(--primary-color);
  color: white;
}

.submit-btn:hover {
  background-color: var(--primary-color);
}

.cancel-btn {
  background-color: #d4e4e4;
  color: var(--primary-color);
}

.cancel-btn:hover {
  background-color: #b7d5d5;
}

/* Delete confirmation modal styles */
.delete-modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 102;
  padding: 20px;
  border-radius: 4px;
  display: none;
}

.delete-modal-container.open {
  display: block;
}

.delete-modal-content {
  margin: 20px 0 30px 0;
  text-align: center;
  font-size: 16px;
  color: #333;
}

@media (max-width: 500px) {
  .student-form-container { 
    width: 300px;
  }

  .delete-modal-container {
    width: 300px;
  }
}